.Alert {
  position: relative;
  padding: 0 0 0 64px;
  border-top: 1px solid #ddd;
  font-family: 'VT323', monospace;
  color: #33FF33;
}

.Img {
  position: absolute;
  left: 0;
  top: 2px;
  width: 48px;
  height: 48px;
}

.AlertText {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.DetailsText {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 10px;
  left: 10px;
}
