html, body {
    margin: 0;
    padding: 0;
}

h1 {
  margin: 0;
}

.Header {
  background-color: #3d3d3d;
  padding-bottom: 10px;
}

.App {
  text-align: center;
  background-color: #282828;
}

.HeaderText {
  font-family: 'VT323', monospace;
  color: #33FF33;
  margin-bottom: 5px;
}

.Details {
  font-family: 'VT323', monospace;
  color: #33FF33;
}

.ChartsContainer {
  display: flex;
  flex-direction: row;
}

.LeftLineChart {
   display: table-cell;
   min-width: 160px;
   flex: 1;
}

.RightLineChart {
  display: table-cell;
  width: 100%;
  flex: 1;
}

.ScrollContainer {
  text-align: center;
}
