.Chart {
  flex: 1;
}

.line {
  fill: none;
  stroke: #33FF33;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5;
  shape-rendering: geometricPrecision;
}

.axis {
  fill: #a9ffa9;
  stroke: #a9ffa9;
}

.xAxis {
  fill: #a9ffa9;
  stroke: #a9ffa9;
}

.yAxis {
  fill: #a9ffa9;
  stroke: #a9ffa9;
}

.grid line {
  stroke: #a9ffa9;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.axis path {
  fill: #a9ffa9;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.dot {
    fill: #006e00;
    stroke: #fff;
}

.HeaderText {
  font-family: 'VT323', monospace;
  color: #33FF33;
}
